{% extends 'header.html'%}
       {% block content %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <ul class="list-group">
                {% for category_list in categories%}
                <li class="list-group-item">
                  <a href="/?category={{category_list.id}}">{{category_list.name}}</a></li>
                {% endfor%}
              </ul>
           </div>
           <div class="col-lg-9 ">
              <div class="row">
                {% for p in products %}
                  <div class="col-md-4 mb-3 mx-auto">
                    <div class="card" style="width: 19rem;">
                        <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap" style="max-height: 400px;">
                        <div class="card-body">
                          <h5 class="card-title">{{p.name}}</h5>
                          <p class="card-text">{{p.price}}</p>
                          <a href="#" class="btn btn-primary">Add to card</a>
                        </div>
                      </div> 
                  </div>
                 {% endfor %}      
            </div>
          </div>
        </div>
      </div>
      {% endblock%}